git+https://github.com/MKN-BOTZ/pyrogram         
tgcrypto
youtube-dlc
youtube_search
aiofiles
git+https://github.com/cinemagoer/cinemagoer
wget
youtube-search-python==1.4.6
yt-dlp
youtube_search
asyncio
psutil
youtube_search_python
requests
ytthumb
ffmpeg
ffprobe
ffmpeg-python
gtts
pymongo[srv]==3.11.4
python-telegram-bot==11.1.0
Pillow
ujson
aiohttp
python-dotenv
py-tgcalls
wheel
humanize
